{% extends 'blog/base.html'%}
{% block body_block%}
  <div class="jumbotron">
    <h2> please login </h2>
    <h3> (Must be SupperUser, plz check with the admin site)</h3>
    {% if form.error %}
      <p> username or password is incorrect</p>
    {%endif%}
  </div>
  <form class="{% url 'login'%}" method="post">
    {% csrf_token%}
    {{ form.as_p }}
    <input class="btn btn-primary" type="submit" name=""  value="login">
    <input type="hidden" name="" value="{{next}}">
  </form>
{% endblock%}
